/* To do:
- Extend sidepanel to the bottom
- Move infopanel to the center bottom and hide it until the user clicks
*/

* {
  font-family: Arial, sans-serif;
}


.parent {
  /* display: flex; */
  left: 0;
  right: 0;
  bottom: 0;
  /* flex-direction: column; */
}

.header {
  background-color: #255425;
  width: 100%;
  display: flex;
  color: white;
  font-weight: bold;
  font-size: 24px;
  overflow: hidden;
  height: 40px;
  /* background-size: cover; */
  position: relative;
}

.header-text {
  position: relative;
  /* display: flex; */
  align-self: center;
  text-align: center;
  padding-left: 1%;
  /* top: 25%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%);  */
}

/* style for header image credit */
.credit {
  text-align: left;
  font-size: 10px;
  font-weight: lighter;
  font-style: italic;
}

/* styling for map */
.map-container {
  width: 99%;
  /* height: 85%; */
  position: absolute;
  top: 50px;
  bottom: 0;
  float: right;
  text-align: center;  
}


/* Left side column with FAQ text and narrative. */
#my-sidepanel {
  /* Code from https://www.w3schools.com/howto/howto_js_collapse_sidepanel.asp */
  position: absolute;    /* Stay in place */
  height: 88.5%;        /* Specify a height */
  width: 30%;         /* 30% width - change this with JavaScript */
  z-index: 2;         /* Stay on top */
  /* top: 175;           Align on the page below the header */
  /* bottom: 250; */
  left: 0;            /* Align flush to the left side of the page */
  background-color: #e6e6e6; /* grey*/
  border:1px solid #4b4b4b;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px;  /* Place content 10px from the top */
  /* padding-left: 10px; */
  transition: 0.5s;   /* 0.5 second transition effect to slide in the sidepanel */
}

/* style for info panel that will hold information about clicked items */
#info-panel {
  position: absolute;
  /* float: left; */
  top: 70%;
  left: 0;
  right: 0;
  padding: 10px;
  height: 22.5%;
  margin: auto;
  width: 27.5%;
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  border: 1px solid #000000;
  border-radius: 5px;
  z-index: 2;
  font-size: 14px;
}

/* style for button that will collapse the flex container */
.container-button {
  position: absolute; 
  font-size: large;
  top: 5px;
  right: 5px; 
  background-color: #ccc;
  width: 30px;
  height: 28px;
  border-radius: 6px;
  ;
}

/* style for button that will reopen the flex container */
.reopen-container-button {
  position: absolute; 
  font-size: larger;
  z-index: 1;
  /* top: 250px; */
  /* margin-top: 12.1%; */
  left: 5px; 
  background-color: #ccc;
  width: 30px;
  height: 28px;
  border-radius: 6px;
}

/* style for buttons when not selected */
.collapsible {
  background-color: #ccc;
  color: #000000;
  cursor: pointer;
  padding: 10px;
  width: 93%;
  border: 1px solid #000000;
  border-radius: 6px;
  margin: 6px 0 0 12px;
  text-align: left;
  outline: none;
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
}

/* style for button when hovering & when active using JSquery */
.active, .collapsible:hover {
  background-color: #8bb58b;
  cursor: pointer;
}

/* Create icon that sits on the buttons and tells the user what to do */
.collapsible:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

/* Create icon that sits on the button when expanded and tells the user to close it */
.collapsible.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

/* Style the content triggered by clicking the collapsible buttons */
.content {
  padding: 0 5px 0 15px;
  width: 88%;
  font-size: 14px;
  display: none;
  overflow: hidden;
  background-color: #ddebdd;
  border: 1px solid #000000;
  border-radius: 6px;
  margin-top: -100%;
  margin: 0 0 6px 12px;
  transition: all 1s;
}

/* Create style for popup content */
.cz-popup {
  text-align: left;
}

/* legend styles from https://docs.mapbox.com/help/tutorials/choropleth-studio-gl-pt-1/ */
.legend {
  position: absolute;
  float: right;
  top: 70%;
  padding: 10px;
  bottom: 20 px;
  right: 15px; 
  width: 200px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  z-index: 1;
  line-height: 18px;
  margin-bottom: 12px;
  border: 1px solid #000000;
  background: #ffffff;
  border-radius: 5px;
  font-size: 12px;
}

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

/* Style the instructions that sit within the side panel */
#instructions {
  /* background-color: #255425; */
  background-size: cover;
  text-align: left;
  color: #000000;
  font-size: 15px;
  padding-top: 15px;
  padding-left: 12px; 
  padding-right: 12px;
  padding-bottom: 5px;
}

/* Style the toggleable layers menu */
#my-layer-menu {
  background: #e6e6e6;
  position: absolute;
  float: right;
  z-index: 1;
  top: 32%;
  right: 15px; 
  border-radius: 3px;
  width: 220px;
  border: 1px solid #000000; 
  font-family: 'Open Sans', sans-serif;
}

/* Style the call to action within the layer menu */
#layer-menu-title {
  font-size: 12px;
  font-weight: bold;
  margin: 10px; 
  color: #404040;
  text-align: left;
}

/* Style the DAC layer legend (move everything a bit to the right to visually nest it */
#dac-button-legend {
  padding-left: 20px;

}


.layer-menu-button {
  font-size: 12px;
  color: #404040;
  cursor: pointer;
  display: block;
  margin: 0;
  width: 100%;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border: none;
  /* border-top: 1px solid rgba(0, 0, 0, 0.25); */
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.25); */
  text-align: left;
}

/* Trying to add top border line to first button (not working) */
/* .layer-menu-button:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.layer-menu-button:last-child {
  border: none;
} */

.layer-menu-button:hover {
  background-color: #8bb58b;
  color: #404040;
}

.layer-menu-button:active {
  background-color: #8bb58b;
  color: #000000;
}

.layer-menu-button:active:hover {
  background: #8bb58b;
}